.contact-box{
    transition: transform 0.3s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

}

.contact-box:hover {
    transform: translateY(-3px);
}

.form{
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
}


.icon {
    border: 2px dotted rgba(224, 12, 47, 0.8);
    border-radius: 50%;
    display: inline-block;
    padding: 5px;
    
}